@media only screen and (min-width: 640px) {
    .row {
        padding: 0 35px;
    }
}

.row {
    background-size: cover;
}

@media only screen and (min-width: 1024px) {
    .align-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 25%;
    }

    .sidebar {
        width: 350px;
    }
}


@media only screen and (min-width: 640px) {
    .align-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 25%;
    }

    .sidebar {
        padding: 0;
    }
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}


.row {
    max-width: 85rem;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
}

.align-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10%;
}

/* .flex {
    flex-direction: row !important;
}

li {
    padding: 5%;
} */

.column {
    float: left;
    /* padding: 10px; */
    /* height: 300px; */
}

.left {
    width: 80%;
}

.right {
    width: 20%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card__container--inner {
    width: 90%;
    padding: 5px;
    display: block;
}

.card__container--inner--card {
    padding: 10px 0;
    max-width: 308px;
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-left: 10px;
    transition: all .1s ease;
    padding: 15px;
}

.card__container--inner--card img {
    width: 100%;
    height: 220px;
    border-radius: 1vw;
    overflow: hidden;
    display: flex;
    /* align-items: flex-end; */
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 10px;

}


.card__container--inner--card img :hover {
    transform: scale(1.05);
    cursor: pointer;
}

.slick-next,
.slick-prev {
    padding: 14px;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    border: none;
    border-radius: 5vw;
    background-color: #fff;
    z-index: 99 !important;
    box-shadow: rgb(35 35 35 / 50%) 0px 0px 20px 5px;
    top: 40%;
}

.slick-next,
.slick-prev :hover {
    background-color: #fff;

}

.card__container--inner--card h2 {
    color: rgb(58, 58, 58);
    font-size: 0.9vw;
    font-weight: 400;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    text-transform: uppercase;
    line-height: 1;
}

.card__container--inner--card p {
    font-size: 1vw;
    font-weight: 400;
    padding: 8px;
    color: rgb(58, 58, 58);
    text-align: left;
    /* padding-left: 8px; */
    /* line-height: 0; */
}

.card__container--inner--card span {
    color: rgb(58, 58, 58);
    font-size: 1.2vw;
    font-weight: 600;
    padding-left: 8px;
}